# 4/25 λ°μ΄ν„° ν™•μΈ

## μ°λΉ λ°μ΄ν„°

In [65]:
import pandas as pd

df_gaon_w = pd.read_csv('./gaon0425(2).csv')
df_gaon_w = df_gaon_w[['year','week_num','start_date','end_date','rank', 'music', 'singer', 'album']]

In [66]:
df_gaon_w.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9988 entries, 0 to 9987
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        9988 non-null   int64
 1   week_num    9988 non-null   int64
 2   start_date  9988 non-null   object
 3   end_date    9988 non-null   object
 4   rank        9988 non-null   int64
 5   music       9988 non-null   object
 6   singer      9988 non-null   object
 7   album       9988 non-null   object
dtypes: int64(3), object(5)
memory usage: 624.4+ KB

In [67]:
df_gaon_w['year'].value_counts()

2021    4020
2020    2958
2022    2410
2023     600
Name: year, dtype: int64

In [68]:
len(df_gaon_w.loc[df_gaon_w['year']==2022]['week_num'].unique().tolist())

44

In [69]:
len(df_gaon_w.loc[df_gaon_w['year']==2021]['week_num'].unique().tolist())

43

In [70]:
len(df_gaon_w.loc[df_gaon_w['year']==2020]['week_num'].unique().tolist())

42

In [71]:
# 2020λ…„λ„μ μ£Όμ°¨λ“¤ λ‹¤ 100μ„μ”© λ½‘ν”λ”μ§€ ν™•μΈ
for i in range(1,53):
    count_num = len(df_gaon_w.loc[(df_gaon_w['year']==2020) & (df_gaon_w['week_num']==i)])
    print(f'{i}μ£Όμ°¨ {count_num}κ° λ½‘ν')

1μ£Όμ°¨ 0κ° λ½‘ν
2μ£Όμ°¨ 0κ° λ½‘ν
3μ£Όμ°¨ 0κ° λ½‘ν
4μ£Όμ°¨ 0κ° λ½‘ν
5μ£Όμ°¨ 0κ° λ½‘ν
6μ£Όμ°¨ 0κ° λ½‘ν
7μ£Όμ°¨ 0κ° λ½‘ν
8μ£Όμ°¨ 0κ° λ½‘ν
9μ£Όμ°¨ 0κ° λ½‘ν
10μ£Όμ°¨ 100κ° λ½‘ν
11μ£Όμ°¨ 99κ° λ½‘ν
12μ£Όμ°¨ 98κ° λ½‘ν
13μ£Όμ°¨ 96κ° λ½‘ν
14μ£Όμ°¨ 95κ° λ½‘ν
15μ£Όμ°¨ 94κ° λ½‘ν
16μ£Όμ°¨ 92κ° λ½‘ν
17μ£Όμ°¨ 91κ° λ½‘ν
18μ£Όμ°¨ 90κ° λ½‘ν
19μ£Όμ°¨ 88κ° λ½‘ν
20μ£Όμ°¨ 87κ° λ½‘ν
21μ£Όμ°¨ 86κ° λ½‘ν
22μ£Όμ°¨ 84κ° λ½‘ν
23μ£Όμ°¨ 83κ° λ½‘ν
24μ£Όμ°¨ 82κ° λ½‘ν
25μ£Όμ°¨ 80κ° λ½‘ν
26μ£Όμ°¨ 79κ° λ½‘ν
27μ£Όμ°¨ 78κ° λ½‘ν
28μ£Όμ°¨ 76κ° λ½‘ν
29μ£Όμ°¨ 75κ° λ½‘ν
30μ£Όμ°¨ 74κ° λ½‘ν
31μ£Όμ°¨ 72κ° λ½‘ν
32μ£Όμ°¨ 71κ° λ½‘ν
33μ£Όμ°¨ 70κ° λ½‘ν
34μ£Όμ°¨ 68κ° λ½‘ν
35μ£Όμ°¨ 67κ° λ½‘ν
36μ£Όμ°¨ 65κ° λ½‘ν
37μ£Όμ°¨ 2κ° λ½‘ν
38μ£Όμ°¨ 0κ° λ½‘ν
39μ£Όμ°¨ 28κ° λ½‘ν
40μ£Όμ°¨ 100κ° λ½‘ν
41μ£Όμ°¨ 100κ° λ½‘ν
42μ£Όμ°¨ 100κ° λ½‘ν
43μ£Όμ°¨ 27κ° λ½‘ν
44μ£Όμ°¨ 100κ° λ½‘ν
45μ£Όμ°¨ 100κ° λ½‘ν
46μ£Όμ°¨ 100κ° λ½‘ν
47μ£Όμ°¨ 16κ° λ½‘ν
48μ£Όμ°¨ 14κ° λ½‘ν
49μ£Όμ°¨ 13κ° λ½‘ν
50μ£Όμ°¨ 8κ° λ½‘ν
51μ£Όμ°¨ 6κ° λ½‘ν
52μ£Όμ°¨ 4κ° λ½‘ν

In [72]:
# 2021λ…„λ„μ μ£Όμ°¨λ“¤ λ‹¤ 100μ„μ”© λ½‘ν”λ”μ§€ ν™•μΈ
for i in range(1,53):
    count_num = len(df_gaon_w.loc[(df_gaon_w['year']==2021) & (df_gaon_w['week_num']==i)])
    print(f'{i}μ£Όμ°¨ {count_num}κ° λ½‘ν')

1μ£Όμ°¨ 0κ° λ½‘ν
2μ£Όμ°¨ 0κ° λ½‘ν
3μ£Όμ°¨ 0κ° λ½‘ν
4μ£Όμ°¨ 0κ° λ½‘ν
5μ£Όμ°¨ 0κ° λ½‘ν
6μ£Όμ°¨ 0κ° λ½‘ν
7μ£Όμ°¨ 0κ° λ½‘ν
8μ£Όμ°¨ 0κ° λ½‘ν
9μ£Όμ°¨ 0κ° λ½‘ν
10μ£Όμ°¨ 100κ° λ½‘ν
11μ£Όμ°¨ 100κ° λ½‘ν
12μ£Όμ°¨ 100κ° λ½‘ν
13μ£Όμ°¨ 100κ° λ½‘ν
14μ£Όμ°¨ 100κ° λ½‘ν
15μ£Όμ°¨ 100κ° λ½‘ν
16μ£Όμ°¨ 100κ° λ½‘ν
17μ£Όμ°¨ 100κ° λ½‘ν
18μ£Όμ°¨ 100κ° λ½‘ν
19μ£Όμ°¨ 100κ° λ½‘ν
20μ£Όμ°¨ 100κ° λ½‘ν
21μ£Όμ°¨ 100κ° λ½‘ν
22μ£Όμ°¨ 100κ° λ½‘ν
23μ£Όμ°¨ 100κ° λ½‘ν
24μ£Όμ°¨ 100κ° λ½‘ν
25μ£Όμ°¨ 100κ° λ½‘ν
26μ£Όμ°¨ 100κ° λ½‘ν
27μ£Όμ°¨ 100κ° λ½‘ν
28μ£Όμ°¨ 100κ° λ½‘ν
29μ£Όμ°¨ 100κ° λ½‘ν
30μ£Όμ°¨ 100κ° λ½‘ν
31μ£Όμ°¨ 100κ° λ½‘ν
32μ£Όμ°¨ 100κ° λ½‘ν
33μ£Όμ°¨ 100κ° λ½‘ν
34μ£Όμ°¨ 99κ° λ½‘ν
35μ£Όμ°¨ 97κ° λ½‘ν
36μ£Όμ°¨ 96κ° λ½‘ν
37μ£Όμ°¨ 94κ° λ½‘ν
38μ£Όμ°¨ 93κ° λ½‘ν
39μ£Όμ°¨ 91κ° λ½‘ν
40μ£Όμ°¨ 89κ° λ½‘ν
41μ£Όμ°¨ 88κ° λ½‘ν
42μ£Όμ°¨ 86κ° λ½‘ν
43μ£Όμ°¨ 85κ° λ½‘ν
44μ£Όμ°¨ 83κ° λ½‘ν
45μ£Όμ°¨ 82κ° λ½‘ν
46μ£Όμ°¨ 81κ° λ½‘ν
47μ£Όμ°¨ 80κ° λ½‘ν
48μ£Όμ°¨ 78κ° λ½‘ν
49μ£Όμ°¨ 77κ° λ½‘ν
50μ£Όμ°¨ 75κ° λ½‘ν
51μ£Όμ°¨ 74κ° λ½‘ν
52μ£Όμ°¨ 72κ° λ½‘ν

## μ„±λ²•λ°μ΄ν„°

In [39]:
df_gaon = pd.read_csv('./gaon_seong.csv')
df_gaon = df_gaon[['year','week_num','start_date','end_date','rank', 'music', 'singer', 'album']]

In [64]:
# 2014λ…„λ„μ μ£Όμ°¨λ“¤ λ‹¤ 100μ„μ”© λ½‘ν”λ”μ§€ ν™•μΈ
for i in range(1,53):
    count_num = len(df_gaon.loc[(df_gaon['year']==2014) & (df_gaon['week_num']==i)])
    print(f'{i}μ£Όμ°¨ {count_num}κ° λ½‘ν')

1μ£Όμ°¨ 0κ° λ½‘ν
2μ£Όμ°¨ 0κ° λ½‘ν
3μ£Όμ°¨ 0κ° λ½‘ν
4μ£Όμ°¨ 0κ° λ½‘ν
5μ£Όμ°¨ 0κ° λ½‘ν
6μ£Όμ°¨ 0κ° λ½‘ν
7μ£Όμ°¨ 0κ° λ½‘ν
8μ£Όμ°¨ 0κ° λ½‘ν
9μ£Όμ°¨ 0κ° λ½‘ν
10μ£Όμ°¨ 100κ° λ½‘ν
11μ£Όμ°¨ 100κ° λ½‘ν
12μ£Όμ°¨ 100κ° λ½‘ν
13μ£Όμ°¨ 100κ° λ½‘ν
14μ£Όμ°¨ 100κ° λ½‘ν
15μ£Όμ°¨ 100κ° λ½‘ν
16μ£Όμ°¨ 100κ° λ½‘ν
17μ£Όμ°¨ 100κ° λ½‘ν
18μ£Όμ°¨ 100κ° λ½‘ν
19μ£Όμ°¨ 100κ° λ½‘ν
20μ£Όμ°¨ 100κ° λ½‘ν
21μ£Όμ°¨ 100κ° λ½‘ν
22μ£Όμ°¨ 100κ° λ½‘ν
23μ£Όμ°¨ 100κ° λ½‘ν
24μ£Όμ°¨ 100κ° λ½‘ν
25μ£Όμ°¨ 100κ° λ½‘ν
26μ£Όμ°¨ 100κ° λ½‘ν
27μ£Όμ°¨ 100κ° λ½‘ν
28μ£Όμ°¨ 100κ° λ½‘ν
29μ£Όμ°¨ 100κ° λ½‘ν
30μ£Όμ°¨ 99κ° λ½‘ν
31μ£Όμ°¨ 96κ° λ½‘ν
32μ£Όμ°¨ 94κ° λ½‘ν
33μ£Όμ°¨ 93κ° λ½‘ν
34μ£Όμ°¨ 91κ° λ½‘ν
35μ£Όμ°¨ 89κ° λ½‘ν
36μ£Όμ°¨ 88κ° λ½‘ν
37μ£Όμ°¨ 86κ° λ½‘ν
38μ£Όμ°¨ 85κ° λ½‘ν
39μ£Όμ°¨ 83κ° λ½‘ν
40μ£Όμ°¨ 81κ° λ½‘ν
41μ£Όμ°¨ 80κ° λ½‘ν
42μ£Όμ°¨ 78κ° λ½‘ν
43μ£Όμ°¨ 77κ° λ½‘ν
44μ£Όμ°¨ 75κ° λ½‘ν
45μ£Όμ°¨ 73κ° λ½‘ν
46μ£Όμ°¨ 72κ° λ½‘ν
47μ£Όμ°¨ 70κ° λ½‘ν
48μ£Όμ°¨ 69κ° λ½‘ν
49μ£Όμ°¨ 67κ° λ½‘ν
50μ£Όμ°¨ 65κ° λ½‘ν
51μ£Όμ°¨ 64κ° λ½‘ν
52μ£Όμ°¨ 62κ° λ½‘ν

In [63]:
# 2015λ…„λ„μ μ£Όμ°¨λ“¤ λ‹¤ 100μ„μ”© λ½‘ν”λ”μ§€ ν™•μΈ
for i in range(1,53):
    count_num = len(df_gaon.loc[(df_gaon['year']==2015) & (df_gaon['week_num']==i)])
    print(f'{i}μ£Όμ°¨ {count_num}κ° λ½‘ν')

1μ£Όμ°¨ 0κ° λ½‘ν
2μ£Όμ°¨ 0κ° λ½‘ν
3μ£Όμ°¨ 0κ° λ½‘ν
4μ£Όμ°¨ 0κ° λ½‘ν
5μ£Όμ°¨ 0κ° λ½‘ν
6μ£Όμ°¨ 0κ° λ½‘ν
7μ£Όμ°¨ 0κ° λ½‘ν
8μ£Όμ°¨ 0κ° λ½‘ν
9μ£Όμ°¨ 0κ° λ½‘ν
10μ£Όμ°¨ 100κ° λ½‘ν
11μ£Όμ°¨ 100κ° λ½‘ν
12μ£Όμ°¨ 100κ° λ½‘ν
13μ£Όμ°¨ 100κ° λ½‘ν
14μ£Όμ°¨ 100κ° λ½‘ν
15μ£Όμ°¨ 100κ° λ½‘ν
16μ£Όμ°¨ 100κ° λ½‘ν
17μ£Όμ°¨ 100κ° λ½‘ν
18μ£Όμ°¨ 100κ° λ½‘ν
19μ£Όμ°¨ 100κ° λ½‘ν
20μ£Όμ°¨ 100κ° λ½‘ν
21μ£Όμ°¨ 100κ° λ½‘ν
22μ£Όμ°¨ 100κ° λ½‘ν
23μ£Όμ°¨ 100κ° λ½‘ν
24μ£Όμ°¨ 100κ° λ½‘ν
25μ£Όμ°¨ 100κ° λ½‘ν
26μ£Όμ°¨ 100κ° λ½‘ν
27μ£Όμ°¨ 100κ° λ½‘ν
28μ£Όμ°¨ 100κ° λ½‘ν
29μ£Όμ°¨ 100κ° λ½‘ν
30μ£Όμ°¨ 100κ° λ½‘ν
31μ£Όμ°¨ 97κ° λ½‘ν
32μ£Όμ°¨ 95κ° λ½‘ν
33μ£Όμ°¨ 92κ° λ½‘ν
34μ£Όμ°¨ 89κ° λ½‘ν
35μ£Όμ°¨ 87κ° λ½‘ν
36μ£Όμ°¨ 85κ° λ½‘ν
37μ£Όμ°¨ 84κ° λ½‘ν
38μ£Όμ°¨ 81κ° λ½‘ν
39μ£Όμ°¨ 79κ° λ½‘ν
40μ£Όμ°¨ 77κ° λ½‘ν
41μ£Όμ°¨ 76κ° λ½‘ν
42μ£Όμ°¨ 73κ° λ½‘ν
43μ£Όμ°¨ 71κ° λ½‘ν
44μ£Όμ°¨ 69κ° λ½‘ν
45μ£Όμ°¨ 68κ° λ½‘ν
46μ£Όμ°¨ 65κ° λ½‘ν
47μ£Όμ°¨ 63κ° λ½‘ν
48μ£Όμ°¨ 62κ° λ½‘ν
49μ£Όμ°¨ 61κ° λ½‘ν
50μ£Όμ°¨ 53κ° λ½‘ν
51μ£Όμ°¨ 58κ° λ½‘ν
52μ£Όμ°¨ 57κ° λ½‘ν

In [62]:
# 2014λ…„λ„μ μ£Όμ°¨λ“¤ λ‹¤ 100μ„μ”© λ½‘ν”λ”μ§€ ν™•μΈ
for i in range(1,53):
    count_num = len(df_gaon.loc[(df_gaon['year']==2016) & (df_gaon['week_num']==i)])
    print(f'{i}μ£Όμ°¨ {count_num}κ° λ½‘ν')

1μ£Όμ°¨ 0κ° λ½‘ν
2μ£Όμ°¨ 0κ° λ½‘ν
3μ£Όμ°¨ 0κ° λ½‘ν
4μ£Όμ°¨ 0κ° λ½‘ν
5μ£Όμ°¨ 0κ° λ½‘ν
6μ£Όμ°¨ 0κ° λ½‘ν
7μ£Όμ°¨ 0κ° λ½‘ν
8μ£Όμ°¨ 0κ° λ½‘ν
9μ£Όμ°¨ 0κ° λ½‘ν
10μ£Όμ°¨ 100κ° λ½‘ν
11μ£Όμ°¨ 100κ° λ½‘ν
12μ£Όμ°¨ 100κ° λ½‘ν
13μ£Όμ°¨ 100κ° λ½‘ν
14μ£Όμ°¨ 100κ° λ½‘ν
15μ£Όμ°¨ 100κ° λ½‘ν
16μ£Όμ°¨ 100κ° λ½‘ν
17μ£Όμ°¨ 100κ° λ½‘ν
18μ£Όμ°¨ 100κ° λ½‘ν
19μ£Όμ°¨ 100κ° λ½‘ν
20μ£Όμ°¨ 100κ° λ½‘ν
21μ£Όμ°¨ 100κ° λ½‘ν
22μ£Όμ°¨ 100κ° λ½‘ν
23μ£Όμ°¨ 100κ° λ½‘ν
24μ£Όμ°¨ 100κ° λ½‘ν
25μ£Όμ°¨ 100κ° λ½‘ν
26μ£Όμ°¨ 100κ° λ½‘ν
27μ£Όμ°¨ 100κ° λ½‘ν
28μ£Όμ°¨ 100κ° λ½‘ν
29μ£Όμ°¨ 100κ° λ½‘ν
30μ£Όμ°¨ 100κ° λ½‘ν
31μ£Όμ°¨ 100κ° λ½‘ν
32μ£Όμ°¨ 100κ° λ½‘ν
33μ£Όμ°¨ 100κ° λ½‘ν
34μ£Όμ°¨ 100κ° λ½‘ν
35μ£Όμ°¨ 100κ° λ½‘ν
36μ£Όμ°¨ 100κ° λ½‘ν
37μ£Όμ°¨ 100κ° λ½‘ν
38μ£Όμ°¨ 100κ° λ½‘ν
39μ£Όμ°¨ 100κ° λ½‘ν
40μ£Όμ°¨ 100κ° λ½‘ν
41μ£Όμ°¨ 100κ° λ½‘ν
42μ£Όμ°¨ 78κ° λ½‘ν
43μ£Όμ°¨ 63κ° λ½‘ν
44μ£Όμ°¨ 52κ° λ½‘ν
45μ£Όμ°¨ 44κ° λ½‘ν
46μ£Όμ°¨ 36κ° λ½‘ν
47μ£Όμ°¨ 28κ° λ½‘ν
48μ£Όμ°¨ 21κ° λ½‘ν
49μ£Όμ°¨ 14κ° λ½‘ν
50μ£Όμ°¨ 16κ° λ½‘ν
51μ£Όμ°¨ 6κ° λ½‘ν
52μ£Όμ°¨ 8κ° λ½‘ν

In [ ]:
# λ¬Έμ 
# 1.1~9μ£Όμ°¨λ” μ™ κ±΄λ„λ›°λ”κ±°μ§€
# 2.30μ£Όμ°¨λ¶€ν„° μ™ 100μ„κ°€ μ•„λ‹κ³  μ μ  μ¤„μ΄λ©΄μ„ λ½‘μ•„μ¤λ”κ±°μ§€

## μƒλ΅ λ½‘μ€ λ°μ΄ν„° ν™•μΈ - 2022

In [59]:
df_gaon = pd.read_csv('./gaon_2022.csv')

In [60]:
# 2022λ…„λ„μ μ£Όμ°¨λ“¤ λ‹¤ 100μ„μ”© λ½‘ν”λ”μ§€ ν™•μΈ
for i in range(1,53):
    count_num = len(df_gaon.loc[(df_gaon['year']==2022) & (df_gaon['week_num']==i)])
    print(f'{i}μ£Όμ°¨ {count_num}κ° λ½‘ν')

1μ£Όμ°¨ 0κ° λ½‘ν
2μ£Όμ°¨ 0κ° λ½‘ν
3μ£Όμ°¨ 0κ° λ½‘ν
4μ£Όμ°¨ 0κ° λ½‘ν
5μ£Όμ°¨ 0κ° λ½‘ν
6μ£Όμ°¨ 0κ° λ½‘ν
7μ£Όμ°¨ 0κ° λ½‘ν
8μ£Όμ°¨ 0κ° λ½‘ν
9μ£Όμ°¨ 0κ° λ½‘ν
10μ£Όμ°¨ 98κ° λ½‘ν
11μ£Όμ°¨ 96κ° λ½‘ν
12μ£Όμ°¨ 95κ° λ½‘ν
13μ£Όμ°¨ 94κ° λ½‘ν
14μ£Όμ°¨ 92κ° λ½‘ν
15μ£Όμ°¨ 90κ° λ½‘ν
16μ£Όμ°¨ 88κ° λ½‘ν
17μ£Όμ°¨ 87κ° λ½‘ν
18μ£Όμ°¨ 86κ° λ½‘ν
19μ£Όμ°¨ 84κ° λ½‘ν
20μ£Όμ°¨ 82κ° λ½‘ν
21μ£Όμ°¨ 80κ° λ½‘ν
22μ£Όμ°¨ 79κ° λ½‘ν
23μ£Όμ°¨ 78κ° λ½‘ν
24μ£Όμ°¨ 76κ° λ½‘ν
25μ£Όμ°¨ 74κ° λ½‘ν
26μ£Όμ°¨ 73κ° λ½‘ν
27μ£Όμ°¨ 72κ° λ½‘ν
28μ£Όμ°¨ 71κ° λ½‘ν
29μ£Όμ°¨ 70κ° λ½‘ν
30μ£Όμ°¨ 68κ° λ½‘ν
31μ£Όμ°¨ 67κ° λ½‘ν
32μ£Όμ°¨ 100κ° λ½‘ν
33μ£Όμ°¨ 100κ° λ½‘ν
34μ£Όμ°¨ 100κ° λ½‘ν
35μ£Όμ°¨ 100κ° λ½‘ν
36μ£Όμ°¨ 100κ° λ½‘ν
37μ£Όμ°¨ 100κ° λ½‘ν
38μ£Όμ°¨ 100κ° λ½‘ν
39μ£Όμ°¨ 100κ° λ½‘ν
40μ£Όμ°¨ 100κ° λ½‘ν
41μ£Όμ°¨ 100κ° λ½‘ν
42μ£Όμ°¨ 100κ° λ½‘ν
43μ£Όμ°¨ 100κ° λ½‘ν
44μ£Όμ°¨ 100κ° λ½‘ν
45μ£Όμ°¨ 100κ° λ½‘ν
46μ£Όμ°¨ 100κ° λ½‘ν
47μ£Όμ°¨ 100κ° λ½‘ν
48μ£Όμ°¨ 66κ° λ½‘ν
49μ£Όμ°¨ 65κ° λ½‘ν
50μ£Όμ°¨ 64κ° λ½‘ν
51μ£Όμ°¨ 63κ° λ½‘ν
52μ£Όμ°¨ 62κ° λ½‘ν

## 2022 λ°μ΄ν„° 0427 ν™•μΈ

In [2]:
import pandas as pd
df_gaon_0427 = pd.read_csv('./gaon_0427.csv')

In [8]:
# 20022λ…„λ„μ μ£Όμ°¨λ“¤ λ‹¤ 100μ„μ”© λ½‘ν”λ”μ§€ ν™•μΈ
for i in range(1,53):
    count_num = len(df_gaon_0427.loc[(df_gaon_0427['year']==2022) & (df_gaon_0427['week_num']==i)])
    print(f'{i}μ£Όμ°¨ {count_num}κ° λ½‘ν')

1μ£Όμ°¨ 100κ° λ½‘ν
2μ£Όμ°¨ 100κ° λ½‘ν
3μ£Όμ°¨ 100κ° λ½‘ν
4μ£Όμ°¨ 100κ° λ½‘ν
5μ£Όμ°¨ 100κ° λ½‘ν
6μ£Όμ°¨ 100κ° λ½‘ν
7μ£Όμ°¨ 100κ° λ½‘ν
8μ£Όμ°¨ 100κ° λ½‘ν
9μ£Όμ°¨ 100κ° λ½‘ν
10μ£Όμ°¨ 100κ° λ½‘ν
11μ£Όμ°¨ 100κ° λ½‘ν
12μ£Όμ°¨ 100κ° λ½‘ν
13μ£Όμ°¨ 100κ° λ½‘ν
14μ£Όμ°¨ 100κ° λ½‘ν
15μ£Όμ°¨ 100κ° λ½‘ν
16μ£Όμ°¨ 100κ° λ½‘ν
17μ£Όμ°¨ 99κ° λ½‘ν
18μ£Όμ°¨ 98κ° λ½‘ν
19μ£Όμ°¨ 97κ° λ½‘ν
20μ£Όμ°¨ 96κ° λ½‘ν
21μ£Όμ°¨ 95κ° λ½‘ν
22μ£Όμ°¨ 93κ° λ½‘ν
23μ£Όμ°¨ 92κ° λ½‘ν
24μ£Όμ°¨ 91κ° λ½‘ν
25μ£Όμ°¨ 90κ° λ½‘ν
26μ£Όμ°¨ 89κ° λ½‘ν
27μ£Όμ°¨ 88κ° λ½‘ν
28μ£Όμ°¨ 100κ° λ½‘ν
29μ£Όμ°¨ 100κ° λ½‘ν
30μ£Όμ°¨ 100κ° λ½‘ν
31μ£Όμ°¨ 100κ° λ½‘ν
32μ£Όμ°¨ 100κ° λ½‘ν
33μ£Όμ°¨ 100κ° λ½‘ν
34μ£Όμ°¨ 100κ° λ½‘ν
35μ£Όμ°¨ 100κ° λ½‘ν
36μ£Όμ°¨ 100κ° λ½‘ν
37μ£Όμ°¨ 100κ° λ½‘ν
38μ£Όμ°¨ 100κ° λ½‘ν
39μ£Όμ°¨ 100κ° λ½‘ν
40μ£Όμ°¨ 100κ° λ½‘ν
41μ£Όμ°¨ 100κ° λ½‘ν
42μ£Όμ°¨ 100κ° λ½‘ν
43μ£Όμ°¨ 100κ° λ½‘ν
44μ£Όμ°¨ 6κ° λ½‘ν
45μ£Όμ°¨ 5κ° λ½‘ν
46μ£Όμ°¨ 4κ° λ½‘ν
47μ£Όμ°¨ 3κ° λ½‘ν
48μ£Όμ°¨ 1κ° λ½‘ν
49μ£Όμ°¨ 0κ° λ½‘ν
50μ£Όμ°¨ 1κ° λ½‘ν
51μ£Όμ°¨ 100κ° λ½‘ν
52μ£Όμ°¨ 2κ° λ½‘ν

## 2022 λ°μ΄ν„° 0427 ν™•μΈ2

In [18]:
import pandas as pd
df_gaon_0427_2 = pd.read_csv('./gaon_0427(2).csv')

In [21]:
# 20022λ…„λ„μ μ£Όμ°¨λ“¤ λ‹¤ 100μ„μ”© λ½‘ν”λ”μ§€ ν™•μΈ
for i in range(1,53):
    count_num = len(df_gaon_0427_2.loc[(df_gaon_0427_2['year']==2022) & (df_gaon_0427['week_num']==i)])
    print(f'{i}μ£Όμ°¨ {count_num}κ° λ½‘ν')

1μ£Όμ°¨ 81κ° λ½‘ν
2μ£Όμ°¨ 80κ° λ½‘ν
3μ£Όμ°¨ 78κ° λ½‘ν
4μ£Όμ°¨ 77κ° λ½‘ν
5μ£Όμ°¨ 76κ° λ½‘ν
6μ£Όμ°¨ 75κ° λ½‘ν
7μ£Όμ°¨ 73κ° λ½‘ν
8μ£Όμ°¨ 72κ° λ½‘ν
9μ£Όμ°¨ 71κ° λ½‘ν
10μ£Όμ°¨ 70κ° λ½‘ν
11μ£Όμ°¨ 69κ° λ½‘ν
12μ£Όμ°¨ 68κ° λ½‘ν
13μ£Όμ°¨ 67κ° λ½‘ν
14μ£Όμ°¨ 65κ° λ½‘ν
15μ£Όμ°¨ 64κ° λ½‘ν
16μ£Όμ°¨ 63κ° λ½‘ν
17μ£Όμ°¨ 62κ° λ½‘ν
18μ£Όμ°¨ 61κ° λ½‘ν
19μ£Όμ°¨ 60κ° λ½‘ν
20μ£Όμ°¨ 59κ° λ½‘ν
21μ£Όμ°¨ 58κ° λ½‘ν
22μ£Όμ°¨ 56κ° λ½‘ν
23μ£Όμ°¨ 55κ° λ½‘ν
24μ£Όμ°¨ 54κ° λ½‘ν
25μ£Όμ°¨ 53κ° λ½‘ν
26μ£Όμ°¨ 52κ° λ½‘ν
27μ£Όμ°¨ 51κ° λ½‘ν
28μ£Όμ°¨ 100κ° λ½‘ν
29μ£Όμ°¨ 100κ° λ½‘ν
30μ£Όμ°¨ 100κ° λ½‘ν
31μ£Όμ°¨ 97κ° λ½‘ν
32μ£Όμ°¨ 100κ° λ½‘ν
33μ£Όμ°¨ 93κ° λ½‘ν
34μ£Όμ°¨ 95κ° λ½‘ν
35μ£Όμ°¨ 94κ° λ½‘ν
36μ£Όμ°¨ 87κ° λ½‘ν
37μ£Όμ°¨ 91κ° λ½‘ν
38μ£Όμ°¨ 90κ° λ½‘ν
39μ£Όμ°¨ 88κ° λ½‘ν
40μ£Όμ°¨ 86κ° λ½‘ν
41μ£Όμ°¨ 85κ° λ½‘ν
42μ£Όμ°¨ 84κ° λ½‘ν
43μ£Όμ°¨ 82κ° λ½‘ν
44μ£Όμ°¨ 0κ° λ½‘ν
45μ£Όμ°¨ 0κ° λ½‘ν
46μ£Όμ°¨ 0κ° λ½‘ν
47μ£Όμ°¨ 0κ° λ½‘ν
48μ£Όμ°¨ 0κ° λ½‘ν
49μ£Όμ°¨ 0κ° λ½‘ν
50μ£Όμ°¨ 0κ° λ½‘ν
51μ£Όμ°¨ 0κ° λ½‘ν
52μ£Όμ°¨ 0κ° λ½‘ν

# 2022 λ°μ΄ν„° 0427 ν™•μΈ3

In [26]:
import pandas as pd
df_gaon_0427_3 = pd.read_csv('./gaon_0427(3).csv')

In [27]:
len(df_gaon_0427_2.loc[df_gaon_0427_2['year']==2022]['week_num'].unique().tolist())

53

In [28]:
# 20022λ…„λ„μ μ£Όμ°¨λ“¤ λ‹¤ 100μ„μ”© λ½‘ν”λ”μ§€ ν™•μΈ
for i in range(1,53):
    count_num = len(df_gaon_0427_3.loc[(df_gaon_0427_3['year']==2022) & (df_gaon_0427['week_num']==i)])
    print(f'{i}μ£Όμ°¨ {count_num}κ° λ½‘ν')

1μ£Όμ°¨ 100κ° λ½‘ν
2μ£Όμ°¨ 100κ° λ½‘ν
3μ£Όμ°¨ 100κ° λ½‘ν
4μ£Όμ°¨ 100κ° λ½‘ν
5μ£Όμ°¨ 100κ° λ½‘ν
6μ£Όμ°¨ 100κ° λ½‘ν
7μ£Όμ°¨ 100κ° λ½‘ν
8μ£Όμ°¨ 100κ° λ½‘ν
9μ£Όμ°¨ 100κ° λ½‘ν
10μ£Όμ°¨ 100κ° λ½‘ν
11μ£Όμ°¨ 100κ° λ½‘ν
12μ£Όμ°¨ 100κ° λ½‘ν
13μ£Όμ°¨ 100κ° λ½‘ν
14μ£Όμ°¨ 100κ° λ½‘ν
15μ£Όμ°¨ 100κ° λ½‘ν
16μ£Όμ°¨ 100κ° λ½‘ν
17μ£Όμ°¨ 99κ° λ½‘ν
18μ£Όμ°¨ 98κ° λ½‘ν
19μ£Όμ°¨ 97κ° λ½‘ν
20μ£Όμ°¨ 96κ° λ½‘ν
21μ£Όμ°¨ 95κ° λ½‘ν
22μ£Όμ°¨ 93κ° λ½‘ν
23μ£Όμ°¨ 92κ° λ½‘ν
24μ£Όμ°¨ 91κ° λ½‘ν
25μ£Όμ°¨ 90κ° λ½‘ν
26μ£Όμ°¨ 89κ° λ½‘ν
27μ£Όμ°¨ 88κ° λ½‘ν
28μ£Όμ°¨ 100κ° λ½‘ν
29μ£Όμ°¨ 100κ° λ½‘ν
30μ£Όμ°¨ 100κ° λ½‘ν
31μ£Όμ°¨ 100κ° λ½‘ν
32μ£Όμ°¨ 100κ° λ½‘ν
33μ£Όμ°¨ 100κ° λ½‘ν
34μ£Όμ°¨ 100κ° λ½‘ν
35μ£Όμ°¨ 100κ° λ½‘ν
36μ£Όμ°¨ 100κ° λ½‘ν
37μ£Όμ°¨ 100κ° λ½‘ν
38μ£Όμ°¨ 100κ° λ½‘ν
39μ£Όμ°¨ 100κ° λ½‘ν
40μ£Όμ°¨ 100κ° λ½‘ν
41μ£Όμ°¨ 100κ° λ½‘ν
42μ£Όμ°¨ 100κ° λ½‘ν
43μ£Όμ°¨ 100κ° λ½‘ν
44μ£Όμ°¨ 6κ° λ½‘ν
45μ£Όμ°¨ 5κ° λ½‘ν
46μ£Όμ°¨ 4κ° λ½‘ν
47μ£Όμ°¨ 3κ° λ½‘ν
48μ£Όμ°¨ 1κ° λ½‘ν
49μ£Όμ°¨ 0κ° λ½‘ν
50μ£Όμ°¨ 1κ° λ½‘ν
51μ£Όμ°¨ 100κ° λ½‘ν
52μ£Όμ°¨ 2κ° λ½‘ν

## 2022 λ°μ΄ν„° 27μ£Όμ”© μΌκ°μ„

In [54]:
import pandas as pd
df_gaon_0427_half = pd.read_csv('./gaon_0427_half.csv')

In [55]:
sorted(df_gaon_0427_half.loc[df_gaon_0427_half['year']==2022]['week_num'].unique().tolist())

[28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53]

In [56]:
# 20022λ…„λ„μ μ£Όμ°¨λ“¤ λ‹¤ 100μ„μ”© λ½‘ν”λ”μ§€ ν™•μΈ
for i in range(1,54):
    count_num = len(df_gaon_0427_half.loc[(df_gaon_0427_half['year']==2022) & (df_gaon_0427_half['week_num']==i)])
    print(f'{i}μ£Όμ°¨ {count_num}κ° λ½‘ν')

1μ£Όμ°¨ 0κ° λ½‘ν
2μ£Όμ°¨ 0κ° λ½‘ν
3μ£Όμ°¨ 0κ° λ½‘ν
4μ£Όμ°¨ 0κ° λ½‘ν
5μ£Όμ°¨ 0κ° λ½‘ν
6μ£Όμ°¨ 0κ° λ½‘ν
7μ£Όμ°¨ 0κ° λ½‘ν
8μ£Όμ°¨ 0κ° λ½‘ν
9μ£Όμ°¨ 0κ° λ½‘ν
10μ£Όμ°¨ 0κ° λ½‘ν
11μ£Όμ°¨ 0κ° λ½‘ν
12μ£Όμ°¨ 0κ° λ½‘ν
13μ£Όμ°¨ 0κ° λ½‘ν
14μ£Όμ°¨ 0κ° λ½‘ν
15μ£Όμ°¨ 0κ° λ½‘ν
16μ£Όμ°¨ 0κ° λ½‘ν
17μ£Όμ°¨ 0κ° λ½‘ν
18μ£Όμ°¨ 0κ° λ½‘ν
19μ£Όμ°¨ 0κ° λ½‘ν
20μ£Όμ°¨ 0κ° λ½‘ν
21μ£Όμ°¨ 0κ° λ½‘ν
22μ£Όμ°¨ 0κ° λ½‘ν
23μ£Όμ°¨ 0κ° λ½‘ν
24μ£Όμ°¨ 0κ° λ½‘ν
25μ£Όμ°¨ 0κ° λ½‘ν
26μ£Όμ°¨ 0κ° λ½‘ν
27μ£Όμ°¨ 0κ° λ½‘ν
28μ£Όμ°¨ 100κ° λ½‘ν
29μ£Όμ°¨ 100κ° λ½‘ν
30μ£Όμ°¨ 100κ° λ½‘ν
31μ£Όμ°¨ 100κ° λ½‘ν
32μ£Όμ°¨ 100κ° λ½‘ν
33μ£Όμ°¨ 100κ° λ½‘ν
34μ£Όμ°¨ 100κ° λ½‘ν
35μ£Όμ°¨ 57κ° λ½‘ν
36μ£Όμ°¨ 47κ° λ½‘ν
37μ£Όμ°¨ 40κ° λ½‘ν
38μ£Όμ°¨ 34κ° λ½‘ν
39μ£Όμ°¨ 30κ° λ½‘ν
40μ£Όμ°¨ 21κ° λ½‘ν
41μ£Όμ°¨ 24κ° λ½‘ν
42μ£Όμ°¨ 15κ° λ½‘ν
43μ£Όμ°¨ 18κ° λ½‘ν
44μ£Όμ°¨ 16κ° λ½‘ν
45μ£Όμ°¨ 9κ° λ½‘ν
46μ£Όμ°¨ 13κ° λ½‘ν
47μ£Όμ°¨ 11κ° λ½‘ν
48μ£Όμ°¨ 10κ° λ½‘ν
49μ£Όμ°¨ 8κ° λ½‘ν
50μ£Όμ°¨ 6κ° λ½‘ν
51μ£Όμ°¨ 5κ° λ½‘ν
52μ£Όμ°¨ 3κ° λ½‘ν
53μ£Όμ°¨ 2κ° λ½‘ν

## half λ‹¤μ‹ ν™•μΈ

In [49]:
import pandas as pd
df_gaon_0427_half_1 = pd.read_csv('./gaon_0427_half(1).csv')

In [50]:
sorted(df_gaon_0427_half_1.loc[df_gaon_0427_half_1['year']==2022]['week_num'].unique().tolist())

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27]

In [53]:
# 20022λ…„λ„μ μ£Όμ°¨λ“¤ λ‹¤ 100μ„μ”© λ½‘ν”λ”μ§€ ν™•μΈ
for i in range(1,28):
    count_num = len(df_gaon_0427_half_1.loc[(df_gaon_0427_half_1['year']==2022) & (df_gaon_0427_half_1['week_num']==i)])
    print(f'{i}μ£Όμ°¨ {count_num}κ° λ½‘ν')

1μ£Όμ°¨ 100κ° λ½‘ν
2μ£Όμ°¨ 100κ° λ½‘ν
3μ£Όμ°¨ 100κ° λ½‘ν
4μ£Όμ°¨ 100κ° λ½‘ν
5μ£Όμ°¨ 100κ° λ½‘ν
6μ£Όμ°¨ 100κ° λ½‘ν
7μ£Όμ°¨ 100κ° λ½‘ν
8μ£Όμ°¨ 100κ° λ½‘ν
9μ£Όμ°¨ 100κ° λ½‘ν
10μ£Όμ°¨ 100κ° λ½‘ν
11μ£Όμ°¨ 100κ° λ½‘ν
12μ£Όμ°¨ 100κ° λ½‘ν
13μ£Όμ°¨ 100κ° λ½‘ν
14μ£Όμ°¨ 100κ° λ½‘ν
15μ£Όμ°¨ 100κ° λ½‘ν
16μ£Όμ°¨ 100κ° λ½‘ν
17μ£Όμ°¨ 100κ° λ½‘ν
18μ£Όμ°¨ 100κ° λ½‘ν
19μ£Όμ°¨ 100κ° λ½‘ν
20μ£Όμ°¨ 100κ° λ½‘ν
21μ£Όμ°¨ 100κ° λ½‘ν
22μ£Όμ°¨ 100κ° λ½‘ν
23μ£Όμ°¨ 100κ° λ½‘ν
24μ£Όμ°¨ 100κ° λ½‘ν
25μ£Όμ°¨ 100κ° λ½‘ν
26μ£Όμ°¨ 100κ° λ½‘ν
27μ£Όμ°¨ 100κ° λ½‘ν

# μΈμ¤νƒ€ λ°μ΄ν„° ν™•μΈ

In [25]:
insta_df = pd.read_csv('./instagram_singer1.csv')
insta_df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [26]:
insta_df

                               name   κµ¬λ…μμ    κ²μ‹λ¬Όμ
0                                 J  7065λ§    887κ°
1                      BTS official  6814λ§  1,134κ°
2                            JISOOπ¤  6484λ§    878κ°
3                             ROSEΜ  6361λ§    853κ°
4                         BLΞ›Ζ†KPIΠK  4994λ§  1,554κ°
..                              ...    ...     ...
208                   Hip-Hop Korea    255      6κ°
209                halfbasement9395     12       κ°
210                M.O.N.T official     53     23κ°
211  YEOJIN SHADIEST / DIVA MOMENTS     12     91κ°
212                            MX10      2       κ°

[213 rows x 3 columns]