In [2]:
import pandas as pd

In [3]:
gaon_data = pd.read_csv('./gaon_final_data.csv', index_col=0)
gaon_data

,year,week_num,start_date,end_date,rank,music,singer,album
0,2013,1,2012.12.30,2013.01.05,1,Dancing Queen,소녀시대,4집 I Got A Boy
1,2013,1,2012.12.30,2013.01.05,2,사랑은 이렇게,케이윌 (K.Will),청담동 앨리스 OST Part 4
2,2013,1,2012.12.30,2013.01.05,3,되돌리다,이승기,숲
3,2013,1,2012.12.30,2013.01.05,4,카페인,양요섭,The First Collage
4,2013,1,2012.12.30,2013.01.05,5,매력있어,AKMU (악뮤),SBS K팝 스타 시즌2 매력있어
...,...,...,...,...,...,...,...,...
53995,2023,18,2023.04.30,2023.05.06,96,Cupid (Twin Ver.),FIFTY FIFTY,The Beginning: Cupid
53996,2023,18,2023.04.30,2023.05.06,97,Off My Face,Justin Bieber,Justice
53997,2023,18,2023.04.30,2023.05.06,98,Rush Hour (Feat. j-hope of BTS),크러쉬 (CRUSH),Rush Hour
53998,2023,18,2023.04.30,2023.05.06,99,No-Return (Into the unknown),LE SSERAFIM (르세라핌),UNFORGIVEN
53999,2023,18,2023.04.30,2023.05.06,100,Butter,방탄소년단,Butter

In [4]:
melon_data =pd.read_csv('./melon_data_2023.csv', index_col=0)
melon_data

          music  music_id release_date    category  music_like  comment_count
0      FEARLESS  35009233   2022.05.02          댄스      109534           1828
1        그대를 알고  35920493   2022.12.13         발라드       37319             95
2     Rush Hour  35665282   2022.09.22    R&B/Soul      111869            609
3        사랑인가 봐  34657844   2022.02.18  발라드, 국내드라마      184457            256
4    Pink Venom  35542908   2022.09.16        랩/힙합      155661           3099
..          ...       ...          ...         ...         ...            ...
73  Off My Face  33359309   2021.10.08         POP      165998            282
74          아버지  35008527   2022.05.02         발라드       51204            571
75         POP!  35333345   2022.06.24          댄스       91961           1269
76   Next Level  33487342   2021.05.17          댄스      257601           5923
77      내 손을 잡아   3414749   2011.05.25  발라드, 국내드라마      207635           1116

[78 rows x 6 columns]

In [5]:
melon_data['singer_music'] = melon_data['singer'] + ' - ' + melon_data['music']
melon_data

KeyError: 'singer'

In [16]:
melon_data['music'].value_counts()

벚꽃 엔딩          9
봄날             8
Snowman        8
모든 날, 모든 순간    7
안녕             6
              ..
빈자리            1
Delicious      1
보고 싶어...운다     1
까탈레나           1
풍등             1
Name: music, Length: 2822, dtype: int64

In [6]:
gaon_data['singer_music'] = gaon_data['singer'] + ' - ' + gaon_data['music']
gaon_data

,year,week_num,start_date,end_date,rank,music,singer,album,singer_music
0,2013,11,2013.03.10,2013.03.16,1,거북이,다비치,Mystic Ballad Part 1,다비치 - 거북이
1,2013,11,2013.03.10,2013.03.16,2,눈꽃,거미,"그 겨울, 바람이 분다 OST Part 3",거미 - 눈꽃
2,2013,11,2013.03.10,2013.03.16,3,눈꽃,거미,"그 겨울, 바람이 분다 OST Part 3",거미 - 눈꽃
3,2013,11,2013.03.10,2013.03.16,4,있다 없으니까,씨스타19,있다 없으니까,씨스타19 - 있다 없으니까
4,2013,11,2013.03.10,2013.03.16,5,라면인건가,AKMU (악뮤),SBS K팝 스타 시즌2 TOP 10 Part 1,AKMU (악뮤) - 라면인건가
...,...,...,...,...,...,...,...,...,...
53695,2023,15,2023.04.09,2023.04.15,100,The Drum,Alan Walker,The Drum,Alan Walker - The Drum
53696,2023,4,2023.01.22,2023.01.28,99,Love War,YENA(최예나),Love War,YENA(최예나) - Love War
53697,2023,5,2023.01.29,2023.02.04,99,Love War,YENA(최예나),Love War,YENA(최예나) - Love War
53698,2023,4,2023.01.22,2023.01.28,100,The Drum,Alan Walker,The Drum,Alan Walker - The Drum
53699,2023,5,2023.01.29,2023.02.04,100,The Drum,Alan Walker,The Drum,Alan Walker - The Drum

In [8]:
a = gaon_data.groupby('singer_music')[['start_date']].min()
a

                        start_date
singer_music
#안녕 - 너의 번호를 누르고        2020.12.27
#안녕 - 해요                2022.07.03
(여자)아이들 - LATATA        2018.05.06
(여자)아이들 - LION          2019.12.29
(여자)아이들 - MY BAG        2022.04.17
...                            ...
휘인 (Whee In) - 그림자      2017.11.05
휘인 (Whee In) - 내 눈물 모아  2020.05.17
휘인 (Whee In) - 너, 너)    2022.05.15
휘인 (Whee In) - 헤어지자     2019.08.11
희철, 민경훈 - 나비잠           2016.11.20

[3417 rows x 1 columns]

In [14]:
melon_data

,music,singer,release_date,category,music_like,movie_like,movie_views,singer_music
0,모노드라마,"허각, 유승우",2013.02.05,발라드,87466,181.0,220476.0,"허각, 유승우 - 모노드라마"
1,라면인건가,AKMU,2013.02.17,포크/블루스,36725,NaN,NaN,AKMU - 라면인건가
2,있다 없으니까,씨스타19,2013.01.31,댄스,56138,441.0,629192.0,씨스타19 - 있다 없으니까
3,눈꽃,거미,2013.02.27,"발라드, 국내드라마",52474,NaN,NaN,거미 - 눈꽃
4,거북이,다비치,2013.03.04,발라드,92257,587.0,208556.0,다비치 - 거북이
...,...,...,...,...,...,...,...,...
3838,Cookie,NewJeans,2022.08.01,댄스,133714,3171.0,152708.0,NewJeans - Cookie
3839,Teddy Bear,STAYC(스테이씨),2023.02.14,댄스,84132,707.0,64019.0,STAYC(스테이씨) - Teddy Bear
3840,너의 모든 순간,성시경,2014.02.12,"발라드, 국내드라마",260608,NaN,NaN,성시경 - 너의 모든 순간
3841,풍등,이찬원,2023.02.20,성인가요/트로트,12873,3770.0,20260.0,이찬원 - 풍등
3842,I Don`t Think That I Like Her,Charlie Puth,2022.10.07,POP,157877,NaN,NaN,Charlie Puth - I Don`t Think That I Like Her

In [9]:
result_melon = pd.merge(melon_data, a, on='singer_music')
result_melon

,music,singer,release_date,category,music_like,movie_like,movie_views,singer_music,start_date
0,모노드라마,"허각, 유승우",2013.02.05,발라드,87466,181.0,220476.0,"허각, 유승우 - 모노드라마",2013.01.27
1,있다 없으니까,씨스타19,2013.01.31,댄스,56138,441.0,629192.0,씨스타19 - 있다 없으니까,2013.02.03
2,눈꽃,거미,2013.02.27,"발라드, 국내드라마",52474,NaN,NaN,거미 - 눈꽃,2013.02.10
3,거북이,다비치,2013.03.04,발라드,92257,587.0,208556.0,다비치 - 거북이,2013.03.10
4,어느 봄날,2am,2013.03.05,발라드,29275,142.0,27769.0,2am - 어느 봄날,2013.03.10
...,...,...,...,...,...,...,...,...,...
2223,NIGHT DANCER,imase,2022.08.19,J-POP,78816,NaN,NaN,imase - NIGHT DANCER,2023.02.12
2224,CHRISTIAN,Zior Park,2023.02.16,록/메탈,67087,NaN,NaN,Zior Park - CHRISTIAN,2023.02.19
2225,심(心),DK,2023.02.19,록/메탈,39866,NaN,NaN,DK - 심(心),2023.02.05
2226,Teddy Bear,STAYC(스테이씨),2023.02.14,댄스,84132,707.0,64019.0,STAYC(스테이씨) - Teddy Bear,2023.02.12
2227,풍등,이찬원,2023.02.20,성인가요/트로트,12873,3770.0,20260.0,이찬원 - 풍등,2023.02.12

In [12]:
result_melon['music'].value_counts()

봄날               8
Snowman          8
모든 날, 모든 순간      7
Santa Tell Me    6
주저하는 연인들을 위해     5
                ..
Oh Boy           1
사랑보다 깊은 상처       1
Dumb Dumb        1
Huff n Puff      1
풍등               1
Name: music, Length: 1631, dtype: int64